<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function generateQRCode(value){
            let formData = new FormData();
            formData.append('data', value);
            fetch('http://localhost:5000/generate_qrcode', {
                method: 'POST',
                body: formData

            }).then((res) => {
                res.body.getReader().read().then((img) => {
                    let imageByteArray = img.value;
                    let stringValue = String.fromCharCode(...imageByteArray);
                    let encodedValue = btoa(stringValue);
                    document.getElementById('qrcode').src = `data:image/png;base64,${encodedValue}`;
                })
            })

        }
        

    </script>
</head>
<body>
    <h2>QR Code Gen</h2>
    <div><label for="">Text</label>
    <input name = "qrcode" type="text" onchange="generateQRCode(this.value)"/>
    </div>
    <img src="" id="qrcode">
</body>
</html>